body {
    background-color: rgb(70, 130, 180);
    margin: auto;
    max-width: 1150px;
    padding: 100px 0;
}

.container {
    background-color: rgb(245, 245, 245);
    border: 3px solid rgb(245, 222, 180);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 10px 0;
    max-width: 300px;
}

.output {
    background-color: rgb(180, 180, 180);
    border: 3px solid rgb(245, 222, 180);
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    width: 100%;
}

.buttons {
    background-color: rgb(228, 223, 250);
    border: 2px solid rgb(245, 222, 179);
    border-radius: 15px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: center;
    width: 25%;
}

.operators__box {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.operators {
    background-color: rgb(170, 212, 229);
}


.numbers__box {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 75%;
}

.numbers {
    width: 33%;
}

.equal {
    background-color: rgb(113, 181, 242);
    border: 2px solid rgb(245, 222, 179);
    box-sizing: border-box;
    color: rgb(245, 245, 245);
    width: 25%;
}

.cancel {
    background-color: rgb(243, 203, 184);
}

.buttons:hover {
    border: 2px solid rgb(87, 79, 64);
    opacity: 75%;
}